<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.q.managerserver.mapper.IUserMapper">
  <select id="selectOneByUser" resultType="com.q.entity.User">
    SELECT * FROM
        tb_user
    WHERE
        user_name=#{user.userName}
    AND
        pass_word = #{user.passWord}
  </select>
  
  <insert id="insert">
    INSERT INTO
        tb_user(user_name,pass_word,create_time)
    VALUES
        (#{user.userName},#{user.passWord},#{user.createTime})
  </insert>
</mapper>
